GROWW_API_TOKEN=your_groww_api_token_here

PAPER_CAPITAL=5000

SCAN_INTERVAL_SECONDS=300

MIN_AMOUNT_PER_BUY=500
MAX_AMOUNT_PER_BUY=2000
MAX_SELECTED_BUYS_PER_CYCLE=5

NORMAL_BUY_SCORE=75
MEDIUM_BUY_SCORE=80
HIGH_RISK_BUY_SCORE=88

SELL_SCORE=40

STOP_LOSS_PERCENT=0.8
TARGET_PERCENT=1.2
